:host {
  display: block;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-180deg);
  }
}

svg {
  width: 100px;
}

.text {
  animation: 3s infinite rotate;
  transform-origin: center;
}

svg[alt=Icon] {
  width: auto;
  height: 1em;
  position: relative;
  bottom: -0.1em;
  fill: currentcolor;
}

h2 {
  color: gray;
  font-size: 20px;
}
