/*styles for home content only*/

:host {
  display: block;
  color: gray;
  padding-top: 1rem;
}

.welcome {
  width: 128px;
  height: 128px;
  background: url(../_common/images/avatar.png) no-repeat center;
  background-size: cover;
}

.icon {
  position: relative;
  bottom: -0.1em;
}
